{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "experimentalTernaries": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^next$",
    "^next/.*",
    "",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/",
    "^[.]",
    "",
    "\\.css$"
  ],
  "importOrderSafeSideEffects": ["\\.css$"],
  "tailwindFunctions": ["cva", "cn", "clsx"]
}
